<!DOCTYPE html>
<html xmlns = "http:www.w3.org/1999/xhtml" 
xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8"/>
<title>Cadastro do título</title>
<link rel="stylesheet" type ="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type ="text/css" href="/css/style.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> 
					<img alt="CasaDeShow" src="/imagens/u2.png" height = "40" width="70">
				</a>
			</div>
		</div>
	</nav>

	<form class="form-horizontal" method="POST" action="/showderock">
		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		   <span>Ingresso salvo com sucesso!</span>
		</div>
	
	
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Casa de Show de Rock 80'90'</h3>
			</div>


			<div class="panel-body" >
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao" name ="descricao" />
					</div>
				</div>


				<div class="form-group">
					<label for="dataDoShow" class="col-sm-2 control-label">Data do Show</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataDoShow" name ="dataDoShow"/>
					</div>
				</div>

				<div class="form-group">
					<label for="ingresso" class="col-sm-2 control-label">Ingresso</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id ="ingresso" name = "ingresso"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-2">
						<select class ="form-control" name ="status">
							<option th:each="status : ${todosStatusIngresso}" th:value = "${status}" th:text="${status.descricao}"></option>
						</select>
					</div>
				</div>
				<div class = "form-group">
					<div class="col-sm-offset-3 col-sn-10">
						<button type = "submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script src = "/js/bootstrap.min.js"></script>
</body>
</html>